<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/src/layouts/Admin/Admin.jsx" type="text/jsx"></script>
</head>

<body>
    <img src="/src/assets/img/loading_bar.gif"></img>
    <div class="center-vertical" id="login">
        <form class="card card-body bg-dark" method="post">
            <h3>{% trans 'Log in' %}</h3>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary">{% trans 'Log in' %}</button>
            <hr>
            <ul>
                <li>
                    <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
                </li>
                <li>
                    <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
                </li>
                <li>
                    <a href="{% url 'accounts:resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
                </li>
            </ul>
        </form>
    </div>

</body>

</html>