{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}" />

    <style>
        .dashboard {
            background: #dcdae6;
            color: #353434;
        }
        
        .header-color {
            background: #7f7fd5;
        }
        
        .scroll_row1 {
            max-height: 450px;
            overflow-y: auto;
        }
        
        .scroll_row2 {
            max-height: 375px;
            overflow-y: auto;
        }
        
        .nocurve {
            border-radius: 0px !important;
        }
        
        .card {
            border-color: transparent !important;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
</head>

<body>
    <div id="wrapper dashboard">
        <div class="d-flex flex-column dashboard" id="content-wrapper">
            <div id="dashboard">
                <div class="container-fluid">
                    <!-- Start: Header -->
                    <div class="card header-color nocurve align-items-center">
                        <div class="d-sm-flex mb-4">
                            <h1 class="pt-4">Text Analysis Dashboard</h1>
                        </div>
                    </div><br/>
                    <!-- End: Header -->
                    <!-- Start: PieChart -->
                    <div class="row">
                        <div class="col-lg-7 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header header-color d-flex justify-content-between align-items-center">
                                    <h6 class="font-weight-bold m-0">
                                        Overall Sentiment
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="piechart"></canvas>
                                    </div>
                                    <div class="text-center small mt-4">
                                        <span class="mr-2">
                                          <i class="fa fa-circle text-success"></i>
                                          &nbsp;Positive</span>
                                        <span class="mr-2">
                                          <i class="fa fa-circle text-warning"></i>
                                            &nbsp;Neutral</span>
                                        <span class="mr-2">
                                          <i class="fa fa-circle text-danger"></i>
                                            &nbsp; Negative</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: Chart -->
                        <!-- Start: Text -->
                        <div class="col-lg-5 col-xl-8 offset-xl-0">
                            <div class="card shadow mb-4">
                                <div class="card-header header-color d-flex justify-content-between align-items-center">
                                    <h6 class="font-weight-bold m-0">
                                        Your text or News
                                    </h6>
                                </div>
                                <div class="card-body scroll_row1">
                                    <p>
                                        {{arr.1}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start: BarChart -->
                    <div class="row">
                        <div class="col-lg-6 col-xl-4 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header header-color">
                                    <h6 class="font-weight-bold m-0">Topics</h6>
                                </div>
                                <div class="card-body scroll_row2">
                                    <div>
                                        <canvas id="barchart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header header-color">
                                    <h6 class="font-weight-bold m-0">
                                        Sentiment by tweets or sentences
                                    </h6>
                                </div>
                                <ul class="list-group list-group-flush scroll_row2">
                                    {% for sentence in arr.0.sentences %}
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0">
                                                    <strong>In case of tweet Name</strong>
                                                </h6>
                                                <span class="text-xs">{{sentence.text.content}}</span>
                                            </div>
                                            <div class="col-auto">

                                                {% if -0.2 > sentence.sentiment.score %}
                                                <div class="card bg-danger text-white shadow">
                                                    <div class="card-body">
                                                        <p class="m-0">negative</p>
                                                    </div>
                                                </div>

                                                {% elif 0.2 < sentence.sentiment.score %}
                                                <div class="card bg-success text-white shadow">
                                                    <div class="card-body">
                                                        <p class="m-0">positive</p>
                                                    </div>
                                                </div>

                                                {% else %}
                                                <div class="card bg-warning text-white shadow">
                                                    <div class="card-body">
                                                        <p class="m-0">neutral</p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script> 
        var sentiment = ["Neutral", "Positive", "Negative"];
        var sentiment_data = {{arr.2}};
        var things_mentioned = ["Trump", "black-lives-matter", "elephant", "china", "justice"];
        var mentioned_count = ["4500", "5300", "6250", "7800", "9800"];
    </script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>